In [83]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [95]:
df = pd.read_csv("RefseqSelect_GRCh37.txt", delimiter="\t")
df.tail()

,#bin,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,score,name2,cdsStartStat,cdsEndStat,exonFrames
21431,585,NM_001002034.3,chr22_kb663609_alt,+,0,1783,0,418,1,"0,","1783,",0,PHETA2,cmpl,cmpl,"2,"
21432,585,NM_033318.5,chr22_kb663609_alt,+,2044,6629,2113,4407,3,"2044,4269,5463,","2299,4410,6629,",0,SMDT1,cmpl,cmpl,"0,0,-1,"
21433,585,NM_002490.6,chr22_kb663609_alt,-,7870,13117,8527,13089,3,"7870,9404,12950,","8659,9520,13117,",0,NDUFA6,cmpl,cmpl,"0,1,0,"
21434,585,NM_000106.6,chr22_kb663609_alt,-,48825,53137,48900,53118,9,"48825,49177,49773,50168,50500,51110,51359,5206...","49079,49319,49961,50310,50677,51271,51512,5223...",0,CYP2D6,cmpl,cmpl,"1,0,1,0,0,1,1,0,0,"
21435,585,NM_001347681.1,chr7_gl000195_random,-,42937,86735,44723,49117,3,"42937,48954,86517,","44923,49119,86735,",0,LOC389831,cmpl,cmpl,"1,0,-1,"

In [146]:
# hent ut en linje for GJB1
G_df = df.loc[df['name2'] == "GJB1"]

In [147]:
G_df

,#bin,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,score,name2,cdsStartStat,cdsEndStat,exonFrames
9597,1122,NM_000166.6,chrX,+,70443073,70445366,70443557,70444409,2,"70443073,70443541,","70443185,70445366,",0,GJB1,cmpl,cmpl,"-1,0,"

In [164]:
def explode_df(df):
    ''' 
    Takes the exonstarts and exonends fields, and splits them up one for each row:
    
    '''
    print 
    listOfTuples = []
    for index, row in df.iterrows():
        for c, (i,j) in enumerate(zip(row['exonStarts'].split(',')[:-1], row['exonEnds'].split(',')[:-1])):
            listOfTuples.append(tuple(row[0:2]) + (row[2].replace('chr', ''), ) + tuple(row[3:8]) + (1, i , j) + (row[11],row[12]+'_E' + str(c + 1)) + tuple(row[13:15])+ (row[15].split(',')[c],))
    for i in listOfTuples:
        print i
    return pd.DataFrame(listOfTuples, columns = df.columns)

def format_to_bed(df):
    ''' Formats df into bed format and adds 10 pb on each interval'''
    return df[['chrom','exonStarts','exonEnds','name','score','strand']]

def save_as_bed(df, name):
    df.to_csv(name, sep="\t", header=False, index=False)


x = ["GJB1", "MPZ"]



def make_df(df, genes, name):
    
    all_genes = pd.DataFrame()
    for i in genes:
        all_genes = pd.concat([all_genes, df.loc[df['name2'] == i]])
        if len(df.loc[df['name2'] == i]) == 0:
            print "Gene %s is not found in Refseq Select, consider adding manually" % (i)
            
    save_as_bed(format_to_bed(explode_df(all_genes)), name)
            
        
make_df(df, x, "output.bed")
        
    
#testdf = explode_df(G_df)
#testdf2 = format_to_bed(testdf)
#save_as_bed(testdf2, "test.bed")

(1122, 'NM_000166.6', 'X', '+', 70443073, 70445366, 70443557, 70444409, 1, '70443073', '70443185', 0, 'GJB1_E1', 'cmpl', 'cmpl', '-1')
(1122, 'NM_000166.6', 'X', '+', 70443073, 70445366, 70443557, 70444409, 1, '70443541', '70445366', 0, 'GJB1_E2', 'cmpl', 'cmpl', '0')
(1815, 'NM_000530.8', '1', '-', 161274524, 161279758, 161275665, 161279695, 1, '161274524', '161275767', 0, 'MPZ_E1', 'cmpl', 'cmpl', '0')
(1815, 'NM_000530.8', '1', '-', 161274524, 161279758, 161275665, 161279695, 1, '161275897', '161275958', 0, 'MPZ_E2', 'cmpl', 'cmpl', '2')
(1815, 'NM_000530.8', '1', '-', 161274524, 161279758, 161275665, 161279695, 1, '161276118', '161276254', 0, 'MPZ_E3', 'cmpl', 'cmpl', '1')
(1815, 'NM_000530.8', '1', '-', 161274524, 161279758, 161275665, 161279695, 1, '161276497', '161276711', 0, 'MPZ_E4', 'cmpl', 'cmpl', '0')
(1815, 'NM_000530.8', '1', '-', 161274524, 161279758, 161275665, 161279695, 1, '161277047', '161277214', 0, 'MPZ_E5', 'cmpl', 'cmpl', '1')
(1815, 'NM_000530.8', '1', '-', 161274524, 161279758, 161275665, 161279695, 1, '161279628', '161279758', 0, 'MPZ_E6', 'cmpl', 'cmpl', '0')

In [ ]:
22	29999534	30000111	NM_000268_exon_0_10_chr22_29999545_f	0	+
22	30032729	30032875	NM_000268_exon_1_10_chr22_30032740_f	0	+
22	30035068	30035211	NM_000268_exon_2_10_chr22_30035079_f	0	+
22	30038180	30038284	NM_000268_exon_3_10_chr22_30038191_f	0	+
22	30050635	30050724	NM_000268_exon_4_10_chr22_30050646_f	0	+
22	30051572	30051675	NM_000268_exon_5_10_chr22_30051583_f	0	+
22	30054167	30054263	NM_000268_exon_6_10_chr22_30054178_f	0	+
22	30057183	30057338	NM_000268_exon_7_10_chr22_30057194_f	0	+
22	30060968	30061063	NM_000268_exon_8_10_chr22_30060979_f	0	+
22	30064311	30064445	NM_000268_exon_9_10_chr22_30064322_f	0	+
22	30067804	30067947	NM_000268_exon_10_10_chr22_30067815_f	0	+
22	30069247	30069485	NM_000268_exon_11_10_chr22_30069258_f	0	+
22	30070814	30070940	NM_000268_exon_12_10_chr22_30070825_f	0	+
22	30074174	30074322	NM_000268_exon_13_10_chr22_30074185_f	0	+
22	30077417	30077600	NM_000268_exon_14_10_chr22_30077428_f	0	+
22	30090730	30094599	NM_000268_exon_15_10_chr22_30090741_f	0	+
22	24129107	24129459	NM_001007468_exon_0_10_chr22_24129118_f	0	+
22	24133932	24134064	NM_001007468_exon_1_10_chr22_24133943_f	0	+
22	24135735	24135885	NM_001007468_exon_2_10_chr22_24135746_f	0	+
22	24143120	24143278	NM_001007468_exon_3_10_chr22_24143131_f	0	+
22	24145471	24145619	NM_001007468_exon_4_10_chr22_24145482_f	0	+
22	24158946	24159133	NM_001007468_exon_5_10_chr22_24158957_f	0	+
22	24167401	24167612	NM_001007468_exon_6_10_chr22_24167412_f	0	+
22	24175748	24175900	NM_001007468_exon_7_10_chr22_24175759_f	0	+
22	24176317	24176715	NM_001007468_exon_8_10_chr22_24176328_f	0	+
22	24129107	24129459	NM_001317946_exon_0_10_chr22_24129118_f	0	+
22	24133932	24134064	NM_001317946_exon_1_10_chr22_24133943_f	0	+
22	24135735	24135885	NM_001317946_exon_2_10_chr22_24135746_f	0	+
22	24143120	24143332	NM_001317946_exon_3_10_chr22_24143131_f	0	+
22	24145471	24145619	NM_001317946_exon_4_10_chr22_24145482_f	0	+